{% extends "main.html" %}

{% block content %}
<div class="row">
	<table class="table table-striped">
		<thead>
				<tr>
					<th>ID#</th>
					<th>Nazwa</th>
					<th>Zasoby</th>
					<th>Budynki</th>
					<th>Jednostki</th>
					<th>Akcje</th>
				</tr>
		</thead>
		<tbody>
			{% for village_id in data.bot %}
				<tr>
					<td>{{village_id}}</td>
					<td>{{data.bot[village_id].public.name}}</td>
					<td>
						<img src="/static/images/wood.png" /> {{data.bot[village_id].resources.wood}}
						<img src="/static/images/stone.png" /> {{data.bot[village_id].resources.stone}}
						<img src="/static/images/iron.png" /> {{data.bot[village_id].resources.iron}}
						<img src="/static/images/worker.png" /> {{data.bot[village_id].resources["pop"]}}
					</td>
					<td>{% if village_id in data.config.villages %} {{data.config.villages[village_id].building}} {% else %} Brak konfiguracji {% endif %}</td>
					<td>{% if village_id in data.config.villages %} {{data.config.villages[village_id].units}} {% else %} Brak konfiguracji {% endif %}</td>
					<td>
						<a href="map?center={{village_id}}" class="btn btn-success btn-sm">Mapa</a>
						<a href="village?id={{village_id}}" class="btn btn-success btn-sm">Konfiguracja</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						{% for unit in data.bot[village_id].troops %}
							<img src="/static/images/unit_{{unit}}.png" alt="{{unit}}" /> {{data.bot[village_id].troops[unit]}}
						{% endfor %}
					</td>
					<td>
							Budynki: {{data.bot[village_id].queued | count}}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
